div {
  display: inline-block;
}
.main {
  width: 800px;
  height: 150px;
  border: 1px solid black;
  position: relative;
}
.logo {
  width: 400px;
  height: 70px;
  border: 1px solid black;
  position: fixed;
  left: 5px;
  top: 5px;
}
.top-menu {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 480px;
}
.menu {
  width: 500px;
  height: 40px;
  border: 1px solid black;
  position: absolute;
  /* left: 282px; */
  right: 10px;
  bottom: 10px;
}
.fixed {
  background-color: green;
  height: 50px;
  width: 500px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.sticky {
  background-color: red;
  font-size: 25px;
  width: 200px;
  height: 100px;
  position: sticky;
  left: 10px;
  top: 0px;
}
