body {
  margin: 0px;
  padding: 0px;
}
li {
  display: inline-block;
  font-size: 30px;
  color: white;
}
.menu {
  position: sticky;
  top: 0;
  background-color: #131c27;
  padding: 20 80;
  margin-bottom: 0;
}
.menur {
  float: right;
  margin: 0 40 0 40;
}
.section1 {
  height: 90vh;
  width: 100%;
  background-image: url(mountain_waterfall.jpg);
  background-size: cover;
}
h1 {
  color: white;
  margin: 0px;
  font-size: 4rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 3px 3px 10px black;
  padding-top: 130px;
}
h2 {
  color: white;
  margin: 0px;
  font-size: 2.4rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 4px black;
  padding-top: 40px;
}
button {
  background-color: #4c6e97;
  color: white;
  padding: 1rem 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  border: none;
  position: relative;
  top: 50px;
  left: 650px;
  transition: 1s all ease;
}
button:hover {
  background-color: blue;
}
.section2 {
  min-height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url(city-cut.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

h3 {
  padding: 100 0 0 100;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  font-size: 3rem;
  color: white;
}
.oblak {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 60%;
  pointer-events: none;
}
.oblak1 {
  animation: oblak 4s infinite alternate ease-in-out;
}
.oblak2 {
  top: 15%;
  z-index: -1;
  opacity: 0.6;
  animation: oblak 3.5s infinite alternate ease-in-out;
}
h5 {
  padding: 0 0 0 100;
  font-size: 2.5rem;
  color: white;
}
@keyframes oblak {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
