body {
  margin: 0px;
  padding: 0px;
}
li {
  display: inline-block;
  font-size: 30px;
  color: white;
}
ul {
  background-color: #131c27;
  padding: 20 80;
  margin-bottom: 0;
}
.menur {
  float: right;
  margin: 0 40 0 40;
}
.section1 {
  height: 90vh;
  width: 100%;
  background-image: url(mountain_waterfall.jpg);
  background-size: cover;
}
h1 {
  color: white;
  margin: 0px;
  font-size: 4rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 3px 3px 10px black;
  padding-top: 130px;
}
h2 {
  color: white;
  margin: 0px;
  font-size: 2.4rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 4px black;
  padding-top: 40px;
}
button {
  background-color: #4c6e97;
  color: white;
  padding: 1rem 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  border: none;
  position: relative;
  top: 50px;
  left: 650px;
  transition: 1s all ease;
}
button:hover {
  background-color: blue;
}
