h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aqua;
  background-color: cadetblue;
  text-align: center;
}
p {
  color: grey;
  text-decoration: silver;
  font-size: 35px;
  text-align: center;
}
div {
  background-color: whitesmoke;
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 30px;
  align-content: center;
}
#vazniNaslov {
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  background-color: blue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
