body {
  margin: 0px;
  padding: 0px;
}
form {
  width: 100%;
  height: 100%;
}
.main {
  border: 1px black solid;
  height: 130vh;
  width: 55%;
  margin: auto;
  padding: 35px;
}
.kartica {
  display: inline-block;
  width: 46%;
  height: 50px;
  margin: 2%;
  margin-top: 4%;
}
.karticad {
  float: right;
}
label {
  display: block;
}
input {
  padding: 10px 0;
  width: 98%;
}
.karticab,
.karticac {
  display: inline-block;
  width: 15%;
  height: 50px;
  margin: 2%;
}
.karticac {
  width: 26%;
}
.check {
  display: inline-block;
  padding: 13px;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
.karticaz {
  display: inline-block;
  width: 85%;
  height: 200px;
  margin: 2%;
  margin-top: 4%;
  padding-top: 20px;
}
button {
  color: white;
  background-color: black;
  position: relative;
  top: 10px;
  font-size: 15px;
  padding: 0px 125px;
  height: 40px;
  font-weight: 500;
  border-radius: 70px;
  line-height: 40px;
  left: 26%;
}
.checkb {
  margin-top: 5px;
  padding-left: 13px;
  display: inline-block;
}
