h1 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMac;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-left: 17px;
}
div {
  border: 0.5px solid gray;
  width: 250px;
  height: 360px;
  background-color: 1d1d25;
  margin-left: 50px;
  border-radius: 15px;
  padding: 20px;
}
p {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMac;
  color: rgb(218, 223, 231);
  padding-left: 20px;
  margin-top: -7px;
}
img {
  width: 250px;
  height: 150px;
  border-radius: 15px;
}
.fa-js-square {
  font-size: 25px;
  color: a6abcb;
  margin-left: 18px;
}
.fa-arrow-up {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
  color: a6abcb;
}
.fa-comment-lines {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 70px;
  color: a6abcb;
}
.fa-bookmark {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 70px;
  color: a6abcb;
}
