body {
  margin: 50px;
}
div {
  border: 1px solid gray;
  border-radius: 5px;
  width: 280px;
  height: 400px;
}
.klasa1 {
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.klasa2 {
  width: 100%;
  height: 50%;
  border: none;
  background-color: #f8f8fa;
  font-size: 40px;
  text-align: center;
  line-height: 190px;
  color: #b0aeb1;
}
h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: #b0aeb1;
  font-size: 11px;
  margin-bottom: -13px;
  padding-left: 15px;
}
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 15px;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #77808f;
  padding-left: 15px;
  padding-right: 10px;
}
a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  padding-left: 15px;
  color: #634a8c;
}
.fa-arrow-right {
  color: gray;
  margin-left: 5px;
  font-size: 12px;
}
.fa-eye {
  color: gray;
  font-size: 12px;
  margin-left: 60px;
}
.fa-comment {
  color: gray;
  font-size: 12px;
  margin-left: 15px;
}
