h1 {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(46, 44, 44);
}
p {
  color: rgb(114, 112, 112);
}
li {
  margin: 40px 20px 20px 30px;
  list-style-type: none;
}
div {
  background-color: gray;
  width: 5px;
  height: 500px;
  position: absolute;
  left: 30px;
}
.fa-shield,
.fa-shield-check,
.fa-adjust,
.fa-adn,
.fa-anchor {
  color: purple;
  font-size: 55px;
  position: absolute;
  left: 6px;
}
.fa-shield-check {
  top: 160px;
}
.fa-adjust {
  top: 275px;
}
.fa-adn {
  top: 390px;
}
.fa-anchor {
  top: 510px;
}
