.main,
.classb,
.classc,
.classd,
.classf {
  background: blue;
  width: 150px;
  height: 150px;
  transition: 2s all ease;
}
.main:hover {
  background: red;
  width: 300px;
  height: 300px;
}
.classb:hover {
  transform: rotate(270deg);
  background-color: green;
}
.classc:hover {
  background-color: green;
  transform: translate(50px, 100px);
}
.classd:hover {
  transform: scale(2);
  background-color: green;
}
.classf:hover {
  transform: skew(20deg, 20deg);
  background-color: red;
}
