body {
  margin: 40px;
}
div {
  width: 350px;
  height: 420px;
  border: 1px solid black;
}
h1 {
  background-color: blue;
  padding: 25px;
  margin-top: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}
ol {
  padding: 0px;
}
li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid gray;
  padding: 15px;
}
.klasa1 {
  text-decoration-line: line-through;
  color: gray;
}
.fa-check-circle {
  float: right;
  color: blue;
}
