body {
  background-color: 945db8;
}
table {
  margin: 50;
  border: 1px solid black;
  padding: 15px;
  border-collapse: collapse;
}
th {
  text-align: left;
  padding: 10px 60px 10px 10px;
  background-color: #343047;
  color: white;
}
td {
  padding: 10px 60px 10px 10px;
}
tr:nth-child(odd) {
  background-color: #f6f6f6;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
