body {
  padding: 0px;
  margin: 0px;
}
.menu {
  background-color: red;
  color: WHITE;
  border-bottom: 0.5px solid black;
  position: sticky;
  top: 0px;
}
ul {
  display: inline-block;
}
li {
  display: inline-block;
  padding: 10px;
  padding-right: 20px;
}
.header {
  padding: 126px 18px;
  background-color: red;
  height: 262px;
}
.naslov {
  color: white;
  font-size: 50px;
}
.center {
  text-align: center;
}
button {
  float: center;
  color: white;
  background-color: black;
  font-size: 15px;
  width: 150px;
  height: 50px;
  border: none;
  margin-left: 665px;
  margin-top: 20px;
}
.white {
  color: white;
  font-size: 20px;
}
.body1 {
  padding: 70px 256px;
  background-color: white;
}
.body1-1 {
  width: 66%;
  display: inline-block;
}
.body1-2 {
  width: 33%;
  display: inline-block;
}
.fa-anchor {
  font-size: 200px;
  color: red;
}
.fa-mug-hot {
  font-size: 200px;
  color: red;
}
.text1 {
  font-size: 18px;
  margin-top: 35px;
}
.text2 {
  font-size: 15px;
  color: gray;
  margin-top: 35px;
}
.body2 {
  background-color: rgb(226, 215, 215);
  padding: 70px 256px;
}
h4 {
  text-align: center;
  font-size: 23px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.quote {
  background-color: gray;
  padding: 40px;
}
.footer {
  background-color: white;
  padding: 64px;
  text-align: center;
}
